<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDumaE-0bK6hNeNttHvUHp4kioYQCmUpHY</string>
	<key>GCM_SENDER_ID</key>
	<string>588564661414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newera.salesman</string>
	<key>PROJECT_ID</key>
	<string>sales-tracking-410607</string>
	<key>STORAGE_BUCKET</key>
	<string>sales-tracking-410607.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588564661414:ios:858d1ce5118e4ff3642067</string>
</dict>
</plist>